@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color:#35363b;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    animation: none;
    opacity: 90%;
    margin-top: 8vh;
    border: 2px solid #363636;
    width: 50vw;
    min-width: 300px;
    border-radius: 4px;
    background-color: #1f1f1f;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.box h1 {
    font-size: 20vh;
}

.help {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    color: #6665d2;
    font-size: 20px;
    font-weight: bold;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 2px solid #6665d2;
    outline: none;
}

.help:hover{
    color: lightgreen;
    border: 2px solid lightgreen;
}

.box input[type=text] {
    text-align: center;
    width: 30%;
    font-size: 18px;
    color: white;
    background-color: #1f1f1f;
    border: none;
    border-bottom: 2px solid #363636;
    outline: none;
    margin-bottom: 15px;
}

.box input[type=text]:focus {
    border-bottom: 2px solid #6665d2;
    color: transparent;
    text-shadow: 0 0 0 white;
}

.box input[type=text]::placeholder {
    color: transparent;
    text-shadow: 0 0 0 white;
}

.options {
    font-size: 18px;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    background-color: #363636;
    margin-bottom: 2px;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px;
    width: 95%;
}

#hiragana, #incorrect {
    margin-top: 15px;
}

#start, #refresh {
    background-color: #6665d2;
    margin-bottom: 15px;
}

.gameover {
    font-size: 18px;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    background-color: #363636;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 16px;
    width: 95%;
}

footer {
    opacity: 70%;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0 5px 0;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 500px) {
    .box h1 {
        font-size: 25vh;
    }
}